@model FE_Client.Form.EditProfileForm

<!DOCTYPE html>
<html>
<body>
    <div id="page-content" class="page-content">
        <div class="container">
            <div class="card card-login mb-5">
                <div class="card-body">
                    <form class="form-horizontal" method="put">
                        <div class="form-group row mt-3">
                            <div class="col-md-12">
                                <input asp-for="Name" class="form-control" type="text" required="" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input asp-for="Address" class="form-control" type="text" required="" placeholder="Address">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <input asp-for="Phone" class="form-control" type="text" required="" placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group row text-center mt-4">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block text-uppercase">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>