<div class="banner">
    <div class="jumbotron jumbotron-bg text-center rounded-0" style="background-image: url('https://kienthucbonphuong.com/images/202006/pet-la-gi/pet-la-gi.jpg');">
    </div>
</div>
<h2 style="color:green">Registration Successful</h2>
<p style="color:green">Congratulations! Your registration was successful.</p>